
body { background-color:#ddeef6; }
input[type=text] { border:1px solid #ccc; color:gray; font-size:1.5em; padding:4px 6px 4px 6px; text-align:center; }
.text { color: #4d4a4d; font-family: arial, helvetica, sans-serif; font-weight: bold; }
.green { color: green; }
.red { color: red; }
.orange { color: orange; }

#homepage { height: 550px; }
#page { height: 100%; }

#header { position: relative; top: 25px; height: 100px; }

#title { width: 290px; height: 75px; margin-top: 10px; }
#blurb-header { position: absolute; top: 15px; left: 325px; }
.blurb { font-size: 1.3em; line-height: 2em; }         
#login { position: absolute; bottom: 0px; left: 190px; } 
#logout { position: absolute; bottom: 0px; left: 190px; } 

#center-container { position: relative; top: 35px; height: 300px; }

#welcome { position: absolute; right: 0px; width: 120px; height: 100px; }
#profile { position: absolute; right: 0px; color: #0066cc; font-size: 1.2em; }
#profile img { position: absolute; top: 0px; right: 0px; width: 48px; height: 48px; }
#profile-user { position: absolute; right: 60px; top: 32px; }
#options { position: absolute; top: 0px; left: 0px; font-size: 0.85em; }

#addfollowers { position: relative; top: 50px; height: 225px; }
#bubble_how-to { position: absolute; width: 475px; height: 115px; }
.how-to { position: absolute; top: 17px; left: 20px; font-size: 1.25em; line-height: 1.75em; }
#form-followers { position: absolute; bottom: 40px; left: 25px; }
#form-followers input[type=text] { width: 225px; }
.alert-you { position: absolute; bottom: 0px; font-size: 1.15em; color: #0066cc; }
#addfollowers-response { position: absolute; bottom: 0px; left: 25px; font-size: 1.95em; }

#does-follow { width: 650px; position: absolute; bottom: 115px; right: 0px; }
.check-followers { text-align: right; margin-bottom: 10px; font-size: 1.15em; line-height: 1.6em; }
#friendship { position: absolute; right: 0px; }
#form-friendship input[type=text] { width: 185px; }
#friendship-response { position: absolute; right: 0px; font-size: 2.75em; }

#bottom-container { position: relative; top: 35px; }

.five-followers { color: #0066cc; position: absolute; font-size: 1.25em; left: 0px; }
.fm-container { padding-top: 23px; margin: 0 auto; }
.fm-list.five { height: 48px; width: 243px; margin-bottom: 50px; position: relative; right: 12px; }
.fm-list.following { height: 48px; width: 243px; margin-bottom: 50px; position: relative; right: 5px; }
.fm-list img { width: 48px; height: 48px; position: absolute; left: 0px; }
.fm-names { color: #636363; position: absolute; left: 65px; margin-top: 15px; }

.icons {margin: 0; padding: 0; position: absolute; right: 0px; top: 11px;}
.icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left; list-style: none;}
.icons span.ui-icon {float: left; margin: 0 4px;}
ul { list-style: none; }

#empty { position: absolute; left: 78px; margin-top: 10px; color: #4d4a4d; font-weight: normal; font-size: 1.75em; }
.followingme { color: #ff6600; position: absolute; right: 0px; font-size: 1.25em; }

#footer { position: relative; top: 75px; right: 5px; text-align: center; width: 400px; margin: 0 auto; padding-bottom: 30px; }
#twitter { position: relative; top: 3px; right: 4px; }

#addemail { position: relative; top: 50px; height: 225px; }
#form-email { position: absolute; bottom: 40px; left: 25px; }
#form-email input[type=text] { width: 350px; }
.enter-email { font-size: 1.3em; color:#0066cc; margin-top: 28px; margin-left: 25px; }
.bad-email { color: red; font-size: 1.7em; position: absolute; left: 505px; bottom: 75px; }

#change-email { padding-top: 50px; padding-bottom: 35px; position: relative; }
#email-address { font-size: 1.55em; margin-bottom: 7px; }
#form-change-email input[type=text] { width: 350px; }
#email-update { position: absolute; left: 455px; bottom: 45px; font-size: 1.7em; }

#delete { font-size: 1.55em; line-height: 1.65em; position: relative; } 
#delete-button { position: absolute; top: 5px; left: 200px; font-size: 0.5em; }